@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;700;900&display=swap");

:root {
  --clr-dark-blue: #1b2f33;
  --clr-dark-green: #28502e;
  --clr-light-green: #47682c;
  --clr-brown: #f2cebe;
  --clr-pink: #ef3054;

  --clr-neutral-dark: #000000;
  --clr-neutral-w: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul,
ol {
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

body {
  font-family: "Exo 2", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* HEADER */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--clr-dark-blue);
  padding: 1.5rem 3rem;
}

@media (max-width: 420px) {
  header {
    padding: 1.5rem 0.5rem;
  }
}

.logo {
  width: 150px;
}

.navbar {
  position: relative;
}

.navigation {
  background-color: var(--clr-pink);
  color: var(--clr-neutral-w);

  position: absolute;
  top: 78px;
  right: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: max-content;
  max-width: 600px;

  z-index: 1;
}

.navigation li {
  cursor: pointer;

  font-weight: 2 400;
  margin: 0.5rem 1rem;
}

.navigation li:hover {
  font-weight: 700;
}

.navigation li:first-child {
  font-weight: 700;
  text-transform: uppercase;
}

.navigation li:first-child:hover {
  color: var(--clr-brown);
}

@media (max-width: 700px) {
  .navigation {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);

    padding: 0.5rem;
    width: calc(100vw - 100px);

    top: 73px;
  }

  .navigation li:first-child {
    grid-column: 1 / -1;
    margin-bottom: 1rem;

    text-align: center;
  }
}

@media (max-width: 500px) {
  .navigation {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .navigation {
    right: 30px;
  }
}

/* GAMES */

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 2rem;
}

.game {
  cursor: pointer;
  background-color: var(--clr-dark-green);

  border-radius: 20px;

  width: 350px;
  padding: 2rem;
  margin: 10px;

  transition: 0.3s ease-in-out;
}

.game:hover {
  width: 370px;
  background-color: var(--clr-brown);
}

@media (max-width: 750px) {
  .game {
    width: 180px;
    padding: 1rem;
  }

  .game:hover {
    width: 200px;
  }

  .game p {
    font-size: 10px;
  }
}

.game:hover p {
  color: var(--clr-neutral-dark);
}

.game:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.game img {
  border-radius: 15px;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.game p {
  text-align: center;
  color: var(--clr-neutral-w);
  font-weight: 700;
}

/* FOOTER */

footer {
  background-color: var(--clr-dark-blue);

  margin-top: auto;
  padding: 80px 70px 30px 70px;
  height: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 80px;
}

footer p {
  font-size: 12px;
  font-weight: 300;
  color: #f2cebe9a;
}

.wavy {
  --mask: radial-gradient(96.62px at 50% 130.5px, #000 99%, #0000 101%)
      calc(50% - 90px) 0/180px 100%,
    radial-gradient(96.62px at 50% -85.5px, #0000 99%, #000 101%) 50% 45px/180px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.blurry {
  opacity: 0.7;
}
